<!-- Footer -->
<footer>
    
    <div align="center" style="margin-top:55px;">
       <div> Copyright &copy; {{ page.title }} 2018</div>
           
       <div>    
          <a href="http://www.twitter.com/"><img src="/assets/img/social_twit.png" alt="Seguiu-nos a twitter" width="40" height="40"></a>
          <a href="http://www.twitter.com/"><img src="/assets/img/social_face.png" alt="Seguiu-nos a twitter" width="40" height="40"></a>
          <a href="http://www.twitter.com/"><img src="/assets/img/social_instag.png" alt="Seguiu-nos a twitter" width="40" height="40"></a>
          <a href="http://www.twitter.com/"><img src="/assets/img/social_blog.png" alt="Seguiu-nos a twitter" width="40" height="40"></a>
          <a href="http://www.twitter.com/"><img src="/assets/img/social_mail.png" alt="Seguiu-nos a twitter" width="40" height="40"></a>
       </div>
          
    </div>

</footer>
